/** ESTILOS GENERALES **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffbf7;
}

/** ESTILOS LANDING PAGE **/

h1 {
    color: #025157;
    font-family: "kumbh sans", sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-top: 230px;
}

h4 {
    color: #46484c;
    font-family: "kumbh sans", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}

form {
    text-align: center;
}

button {
    color: #fff;
    background-color: #025157;
    padding: 12px 14px;
    border: 0;
    border-radius: 0 5px 5px 0;
    height: 50px;
}

.landing-input {
    height: 50px;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 5px 0 0 5px;
    margin: 0;
}



/** ESTILOS BARRA DE NAVEGACION **/

main {
    margin-top: 285px;
    text-align: center;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffe0c2;
}

li {
    display: inline;
}

.header {
    margin: 40px 20px 0 20px;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    vertical-align: middle;
    line-height: 45px;
}

.logo {
    width: 15%;
}



.navbar {
    width: 70%;
    color: #025157;
    text-align: center;
    font-weight: 500;
}

.menu-item {
    display: inline;
    margin: 0 25px 0 25px;
}

.actions {
    width: 15%;
    font-size: 14px;
    text-align: right;
    font-weight: 600;
}

.actions > * {
    margin: 0 10px 0 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

/** ESTILOS SECCION PROMO **/

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.explanatory-video img {
    width: 120px;
    margin-top: 15px;
}

.publish {
    flex: 1;
}

.publish h3 {
    font-family: "kumbh sans", sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish > p {
    font-family: "kumbh sans", sans-serif;
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish > form {
    display: flex;
}

.publish > form p {
    font-family: "kumbh sans", sans-serif;
    color: #025157;
    margin-right: 18px;
}

