/** Resetear estilos **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Contenido principal **/

body {
    background-color: #e9d2ba;
}

h1 {
    color:  #025157;
    font-family: "kumbh sans", sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-top: 250px;
}

h4 {
    color: #46484c;
    font-family: "kumbh sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

form {
    text-align: center;
    margin-top: 30px;
}

form input {
    height: 60px;
    width: 250px;
    padding: 15px;
    margin: 0;
    border: 0;
    border-radius: 10px 0 0 10px;
    font-size: 15px;
}

form button {
    color: #fff;
    background-color: #025157;
    height: 60px;
    width: 120px;
    padding: 5px;
    margin: 0;
    border: 0;
    border-radius: 0 10px 10px 0;
    font-size: 15px;
}

/** Barra de navegacion **/

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    height: 100%;
    line-height: 45px;
    vertical-align: middle;
}

.logo {
    width: 15%;
    height: 100%;
}

.logo > img {
    height: 100%;
}

.navbar {
    width: 70%;
    text-align: center;
    font-weight: 500;
    color: #025157;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
}

.actions > * {
    margin: 0 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    background-color: #67b54b;
    color: white;
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}

.list-item {
    margin: 0 25px;
    color: #025157;
    display: inline;
}